<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>DE4HfuQuqrwOICJ5cn27OxsG2/u2oYz/OBjGO8XuZB3s2W92uX+EVo0e6m6wuzudDtvO906nUiL07OsTaZlVlJG8fMRNTrQqI5BxkdOy+Me7X3lOUCr6DSlCMocXw2nJOA8jZgOsD1iS4KoKI6pwTPHXVtyglGCRPoKjssY7fzM=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>e4jiMhKKIZ0tSyfyQdIs0ai3WniQ3skM9dRigBfas0s=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>