<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>QAA+VuhqQqFR+KbJ//erV+31iQ6SBNrR1eeQ9pf5TT2v3wDeKIJKqcnVglYljTCXLBUNWNCwL+Qmj9brTRS9N14vXzxLxNfSgB66jnLDu8XU8u8j4BFJ26+vOa1f0quMmqk16xyE35BHL576yybHqaypFPv1sYAumk2eZ6DseVw=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>r03VzirrDY6bJapYW6zDxhxUpwbK1/2F9jow2se+eec=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>